@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body {
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #201a2f;
    color: #611f67;
    overflow: hidden;
    cursor: none;
}

.hidden {
    display: none;
}

.hidden > * {
    display: none;
}

.envelope {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#open-env {
    top: 44%;
}

#finger {
    position: absolute;
    width: 230px; /* Adjust size as needed */
    height: auto;
    pointer-events: none; /* Prevent blocking clicks */
    z-index: 1000;
}

#letter {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
