* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: white;
    font-style: italic;
    height: 100%;
    font-family: serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2em;
    margin: auto;
}

.eyes-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
    opacity: 0.2;
}

.eye {
    display: block;
    max-width: 100%;
    height: auto;
}

.eye:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-closed,
.right-closed {
    display: none;
}
