{{ define "main" }}
<section id="about" class="section">
  <div class="about-blurb">
    <p>I grew up in <a href="https://en.wikipedia.org/wiki/Almaty" target="_blank">Almaty, Kazakhstan</a> and now I live
      in SF.</p>
    <p>Interested in data sovereignty and <a href="https://permacomputing.net/permacomputing/"
        target="_blank">permacomputing</a>.</p>
    <p>In my free time I like to write poems, climb rocks, go alone to the beach, and I recently started figure drawing.
    </p>
  </div>
</section>
{{ end }}
