{{- $post := . -}}
{{- if ne (trim $post.Content " \n") "" -}}
{{- $postId := printf "%s-%s" $post.Section (path.Base $post.File.Dir) -}}
<div class="popover-data" id="popover-{{ $postId }}" style="display: none;">
  <h2>{{ $post.Title }}</h2>
  {{ partial "stars.html" $post.Params.rating }}
  {{ with $post.Params.author }}<p class="popover-date">{{ . }}</p>{{ end }}
  {{ if not $post.Date.IsZero }}<p class="popover-date">{{ $post.Date.Format "Jan 2, 2006" }}</p>{{ end }}
  <div class="popover-body">{{ $post.Content }}</div>
</div>
{{- end -}}
