{{- $post := . -}}
{{- if ne (trim $post.Content " \n") "" -}}
{{- $postId := printf "%s-%s" $post.Section (path.Base $post.File.Dir) -}}
<div class="popover" id="popover-{{ $postId }}" popover>
  <button class="popover-close" type="button" popovertarget="popover-{{ $postId }}" popovertargetaction="hide">[ close ]</button>
  <h2>{{ $post.Title }}</h2>
  {{ partial "stars.html" $post.Params.rating }}
  {{ with $post.Params.author }}<p class="popover-date">{{ . }}</p>{{ end }}
  {{ if not $post.Date.IsZero }}<p class="popover-date">{{ $post.Date.Format "2006-01-02 15:04" }}</p>{{ end }}
  <div class="popover-body">{{ $post.Content }}</div>
</div>
{{- end -}}
