{{- $page := .Page -}}
{{- $slides := slice -}}
{{- range findRESubmatch `!\[([^\]]*)\]\(([^)]+)\)` .Inner -}}
  {{- $alt := index . 1 -}}
  {{- $src := index . 2 -}}
  {{- with $page.Resources.GetMatch $src -}}
    {{- $slides = $slides | append (dict "alt" $alt "url" .RelPermalink) -}}
  {{- else -}}
    {{- warnf "carousel: image %q not found in %s" $src $page.File.Path -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $slides) 0 -}}
<div class="feed-carousel">
  {{- range $slides }}
  <div class="fc-slide"><img src="{{ .url }}" alt="{{ .alt }}" loading="lazy"></div>
  {{- end }}
</div>
{{- end -}}
